﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/Site.Master" Inherits="System.Web.Mvc.ViewPage<Cardinal.EasyApps.ED.Model.TablaExterna>" UICulture="es-ES" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">
    Ver Datos Tabla Externa <%: Model.Nombre %>
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">

<h2>  Ver Datos Tabla Externa: <span style='font-weight:bolder'><%: Model.Nombre %></span> </h2>

 <br />


 
    <% 
        List<Cardinal.Caratulas.Models.ValorTablaExterna> valores = Cardinal.Caratulas.Models.ValorTablaExterna.GetListaValoresTablaExterna(Model.ValoresPosibles);
         
        Html.Telerik().Grid(  valores)
       .Name("Grid")
        .ToolBar(commands => commands.Insert().ButtonType(GridButtonType.Image))
       .DataKeys(keys => { keys.Add(o => o.Key); })
        .DataBinding(dataBinding => dataBinding
            //Ajax binding
            .Server()
            //Home.Insert inserts a new data record
                .Insert("AgregarDato", "TablasExternas", new { tablaExterna = Model.Nombre, campoId = Model.CampoId, campoExterno = Model.CampoExterno })
            //Home.Update updates an existing data record
                .Update("EditDato", "TablasExternas", new { tablaExterna = Model.Nombre, campoId = Model.CampoId, campoExterno = Model.CampoExterno })
        )
       .Columns(columns =>
       {
           columns.Bound(o => o.Key).Title("ID");
           columns.Bound(o => o.Value).Title("Valor");
           columns.Command(commands => commands.Edit().ButtonType(GridButtonType.Image));
       })
       .Pageable(paging => paging.PageSize(25))
       .Sortable()
       .Render(); 
%>
</asp:Content>
