﻿@{
    ViewBag.Title = "Ver Reporte";
}

<h2>Ver Reporte</h2>
@{
    
string dir = Url.Action("GetPdfCaratula", "Caratula", new { caratulaId = ViewContext.RouteData.Values["id"].ToString() });
}

@Html.ActionLink("Volver", "VerHistorico", "Historico") &nbsp; - @Html.ActionLink("Bajar Caratula", "GetPdfCaratula", "Caratula", new { caratulaId = ViewContext.RouteData.Values["id"].ToString() },null)
<br />
<br />
<object data="@dir" width="100%" height="800px" type="application/pdf" />
