﻿<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<dynamic>" %>

<%@ Register assembly="Telerik.ReportViewer.WebForms, Version=5.0.11.316, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" namespace="Telerik.ReportViewer.WebForms" tagprefix="telerik" %>


<form clientidmode="Static" id="frep" runat="server">

<telerik:ReportViewer ID="ReportViewer1" runat="server" 
    
    Report="Cardinal.Caratulas.Reportes.Report1, Cardinal.Caratulas, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" 
    Width="100%" Height="800px">
</telerik:ReportViewer>

</form>

<script runat="server">

	public override void VerifyRenderingInServerForm(Control control)
	{

	}

	protected override void OnLoad(EventArgs e)
	{
		base.OnLoad(e);
	}

</script>
