﻿@{
    ViewBag.Title = "ValidarLoginToken";
}

<h2>Validar Login Token</h2>
@using (Html.BeginForm("IsLoginTokenValid", "Auth", null, FormMethod.Post))
{
<div class="editor-label">
  Token
</div>

<div class="editor-field">
@Html.TextBox("loginToken")
</div>


    
     <button type="submit">
                        Validar Login Token</button>
    
    
}
