﻿@model List<Cardinal.EasyApps.ED.Model.PlantillaCampo>
          

          
@helper DisplayCampo(Cardinal.EasyApps.ED.Model.PlantillaCampo item)
    {
    
        
        switch (item.TipoCampo)
        {
            case Cardinal.EasyApps.ED.Model.TipoCampo.Fecha:
                    @(Html.Telerik().DatePicker().Name(item.CampoId).HtmlAttributes(new { id = "DatePicker_wrapper" }).ShowButton(true))
                break;
            case Cardinal.EasyApps.ED.Model.TipoCampo.Texto:
                if (item.ValoresPosibles.Count() == 0)
                {
                    if (item.UsaTablaDescripciones)
                    {
                        var idDescr = item.CampoId + "_descr";
                    <table>
                        <tr>
                            <td> @Html.TextBox(item.CampoId, string.Empty, new { onblur = "GetDescripcion('" + item.CampoId + "')" })
                            </td>
                            <td> <div class="tittablas" id="@idDescr"></div>
                            </td>
                        </tr>
                    </table>
                    }
                    else { 
                         @Html.TextBox(item.CampoId)
                    }

                }
                else
                {
               @(Html.Telerik().ComboBox().Name(item.CampoId)
                    .AutoFill(true)
                    .BindTo(new SelectList(item.ValoresPosibles, "Key", "Value"))
                    .HtmlAttributes(new { style = string.Format("width:300px") })
                    .Filterable(filtering => { filtering.FilterMode(AutoCompleteFilterMode.StartsWith); })
                    .HighlightFirstMatch(true)


                )
                }
                break;
            case Cardinal.EasyApps.ED.Model.TipoCampo.Numero:
                        @(Html.Telerik().NumericTextBox().Name(item.CampoId).Spinners(false)
                            .EmptyMessage("Ingrese Valor").InputHtmlAttributes(new { style = "width:100px" }).DecimalDigits(2))
                    break;
            case Cardinal.EasyApps.ED.Model.TipoCampo.Boolean:
                   @Html.RadioButton(item.CampoId, "SI", false) <text>SI</text>
                   @Html.RadioButton(item.CampoId, "NO", true) <text>NO</text>
              break;

            default:
              break;
        } 
}

@{
    bool hayDetalle = Model.Where(p => p.EsCampoDetalle == true).Count() > 0;
}

@helper DisplayDetalle(List<Cardinal.EasyApps.ED.Model.PlantillaCampo> model)
    {
       
        if (true)
        {
        <text>

     
                    
        <tr>
            <td colspan="2">
               <fieldset>
                    <legend>Campos Detalle</legend>
                    <div id="camposDetallePlantilla">
                        <table id="campoPlantillaDetalle">
                            <tr >
                                <td colspan="2">
                                    <table style="font-size:xx-small">
                                    @{
            int row = 0;
            foreach (var item in model.Where(p => p.EsCampoDetalle == true))
            {
                bool ponerfinRow = false;
                if (row > 0 && row % 4 == 0)
                {

                    ponerfinRow = true;
                    string texto = "<tr>";
                                                @Html.Raw(texto)
                }
                if (row == 0)
                {
                    string texto = "<tr>";
                                                @Html.Raw(texto)
                }
                                            <text>
                                                     <td>@item.Nombre</td>
                                                     <td>@DisplayCampo(item)</td>
                                           </text>
                row++;
                if (row > 0 && row % 4 == 0)
                {
                    string texto = "</tr>";
                                                @Html.Raw(texto)
                                               
                }

            }
                                     }
                                    </table>
                                <hr />
                                </td>

                           </tr>
                    
                    </table>
                    <button id="agregarDetalleButton" type="button">Agregar Detalle</button>
                    </div>
                </fieldset>
            </td>
        </tr>
         </text>
        }

}
  
  
 <script type="text/javascript">
     var i = 1;
     $("#agregarDetalleButton").click(function () {
         $("#campoPlantillaDetalle tr:first").clone().find("input").each(function () {
             var type = $(this).attr("type");

             if (type == "radio") {
                 var value = $(this).attr("value");
                 if (value == "SI") {
                     var input = $(this).attr({
                         'id': function (_, id) { return id + i },
                         'name': function (_, name) { return name + i }, // +i
                         'value': 'SI',
                         'checked': false
                     });
                 } else {
                     var input = $(this).attr({
                         'id': function (_, id) { return id + i },
                         'name': function (_, name) { return name + i }, // +i
                         'value': 'NO',
                         'checked': true
                     });
                 }
             } else {
                 var input = $(this).attr({
                     'id': function (_, id) { return id + i },
                     'name': function (_, name) { return name + i }, // +i
                     'value': ''
                 });
             }



         }).end().appendTo("#campoPlantillaDetalle");
         i++;

     });

     function GetDescripcion(campoId) {
            var idDescr = campoId + "_descr";
            $.getJSON("@Url.Action("GetDescripcionCampo", "Caratula", null)", { campoId: campoId, plantillaId : '@ViewBag.PlantillaId', campoValue : $('#' + campoId).val() },
            function (data) {
                $('#'+idDescr).html(data.descr);
            });

     }

 </script>      
           
<table>

@foreach (var item in Model.Where(p => p.EsCampoDetalle == false))
{
    
    <tr>

   


        <td>@item.Nombre
        </td>
         
        <td>
            @DisplayCampo(item)
        </td>
    </tr>
    if (hayDetalle)
    { 
          @DisplayDetalle(Model)

    }


}

<tr>
<td>
 <div class="display-label">Siguiente Accion</div>  </td>
 <td>
             <div class="editor-label">
                @Html.RadioButton("SiguienteAccion", "VerCaratula", true) Ver Caratula
                @Html.RadioButton("SiguienteAccion","NuevaCaratula",false) Nueva Caratula
              </div>  
</td>
</tr>

</table>



