﻿@model  IEnumerable< Cardinal.EasyApps.ED.Model.CaratulaCS>
@{
    ViewBag.Title = "Alta de Caratula desde archivo - Confirmacion";
}

<h2>@ViewBag.Title</h2>

@(Html.Telerik().Grid(Model)
       .Name("Grid")
            .Localizable("es-ES")
       .DataKeys(keys => { keys.Add(o => o.codigo); })
       .Columns(columns =>
       {
           columns.Bound(o => o.codigo).Title("Numero").Width(70).Visible(false);
           columns.Bound(o => o.fecha).Title("Fecha").Format("{0:dd/MM/yyyy hh:mm}").Width(100);
           columns.Bound(o => o.nombre_empresa).Title("Empresa").Width(150);
           columns.Bound(o => o.plantilla).Title("Plantilla");
         
       })
       .DetailView(detailView => detailView.Template( 
           @<text>
                @(Html.Telerik().Grid(item.DetalleCampos)
                        .Name("Campos_" + item.codigo)
                        .Columns(columns =>
                        {
                            columns.Bound(o => o.campo).Title("Campo");
                            columns.Bound(o => o.valor).Title("Valor");
                        })
                        .Footer(false)
               )
           </text>
       ))
                            .Scrollable(scrolling => scrolling.Enabled(true).Height(400))
                            .Sortable(sorting => sorting.Enabled(true))
                            .Pageable(paging => paging.PageSize(50))
                            .Filterable(filtering => filtering.Enabled(true))
                            .Groupable(grouping => grouping.Enabled(true))
                                .HtmlAttributes(new { style = "font-size: x-small;" }) 
       
)

@using (Html.BeginForm("CreateCaratulaArchivoConfirmado", "Caratula", null, FormMethod.Post, null))
{
     <fieldset style="padding:5px;">
        <legend>Confirmacion de Creacion de Caratulas</legend>
          <div class="display-label">Siguiente Accion</div>
          <div class="editor-label">
                @Html.RadioButton("SiguienteAccion", "VerCaratula", true) Ver Caratula
                @Html.RadioButton("SiguienteAccion", "NuevaCaratula", false) Nueva Caratula
          </div>  
    </fieldset>
     <input type="submit" id="Generar" runat="server" value="Generar Caratulas" /><br />
}
