﻿@{
    ViewBag.Title = "Ver Caratulas";
}

<h2>@ViewBag.Title</h2>
@{
    
    string dir = Url.Action("GetMultiplesPdfCaratula", "Caratula", null);
}

@Html.ActionLink("Volver", "VerHistorico", "Historico") &nbsp; - @Html.ActionLink("Bajar Caratulas", "GetMultiplesPdfCaratula", "Caratula", null, null)
<br />
<br />
<object data="@dir" width="100%" height="800px" type="application/pdf" />
