﻿@if (Request.IsAuthenticated) {
    <text>Bienvenido <strong> @User.Identity.Name </strong>![ @Html.ActionLink("Log Off", "LogOff", "Account",null, new { style = "color:White" }) |  @Html.ActionLink("Cambiar Password", "ChangePassword", "Account",null, new { style = "color:White" }) ]</text>
}
else {
     @:[ @Html.ActionLink("Log On", "LogOn", "Account")  ]
}
